.btn {
	padding: 0.7rem 1.5rem;
	margin-inline: 0.25rem;
	background-color: var(--color-cyan);
	border: none;
	outline: none;
	border-radius: var(--radii);
	color: var(--color-bg);
	font-size: var(--fs-sm);
	font-weight: var(--fw-bold);
	cursor: pointer;
	transition: opacity 0.3s ease-in;
}

.btn:hover {
	opacity: 0.6;
}

@media (max-width: 767px) {
	.btn {
		font-size: var(--fs-lg);
		padding: 1rem 4rem;
	}
}
